.parallax{
    height: 100vh;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.one{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pr7_7atgfJJZpWcZjfkSCAHaDt%26pid%3DApi&f=1");
}
.two{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.VaO3ZlALp5clGIASJLfaLwHaDe%26pid%3DApi&f=1");
}
.three{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.kBv7vHExzeSqcP4QQeKTYAHaEK%26pid%3DApi&f=1");
}
body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
.mid{
    position:absolute;
    top:50%;
    left:0;
    text-align: center;
    font-size: 50px;
    width:100%;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.seperator{
    padding: 20px;
    height:auto;
    background-color:#3B4252;
    font-size: 30px;
    color:white;
}
.lyrics{
    text-align: center;
}